[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
scipy = ">=0.13.3"
scikit-learn = "==0.20.3"
pandas = ">=0.23"
numpy = ">=1.8.2"
cognite-model-hosting = "*"
cognite-sdk = "*"
matplotlib = "*"
jupyter = "*"
tornado = "<6.0"

[packages]
black = "*"
isort = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
cognite-model-hosting = "*"
cognite-model-hosting-notebook = "*"

[pipenv]
allow_prereleases = true
